
Reviews/Arts_Crafts_and_Sewing.json.gz
Reviews/Automotive.json.gz
Reviews/Books.json.gz
Reviews/Clothing_Shoes_and_Jewelry.json.gz
Reviews/Electronics.json.gz
Reviews/Gift_Cards.json.gz
Reviews/Home_and_Kitchen.json.gz
Reviews/Sports_and_Outdoors.json.gz
Reviews/Tools_and_Home_Improvement.json.gz
Reviews/Toys_and_Games.json.gz
Project Code/__pycache__/Toys_and_Games.json
Project Code/Reviews/Arts_Crafts_and_Sewing.json
Project Code/Reviews/Automotive.json
Project Code/Reviews/Gift_Cards.json
Project Code/Reviews/Luxury_Beauty.json
Project Code/Reviews/Movies_and_TV.json
Project Code/Reviews/Office_Products.json
Project Code/Reviews/Sports_and_Outdoors.json
Project Code/Reviews/Tools_and_Home_Improvement.json
Project Code/Reviews/Toys_and_Games.json
Project Code/Reviews/Video_Games.json
Reviews/Toys_and_Games.json
*.pdf
*.iml
*.xml
huggingFace/main.py
shoresmc_pos_crf/__pycache__/poscrf.cpython-310.pyc
huggingFace/main.py
shoresmc_pos_crf/LSTM.py
shoresmc_pos_crf/main.py
shoresmc_pos_crf/poscrf.py
huggingFace/main.py
Project Code/image_review_all.json
Project Code/GoogleReviews.csv
